<div>
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">VATROGASCI-SPASIOCI</h5>
            <div *ngFor="let firefighter of FireFighters">
                <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="firefighter.firefighter===true">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p *ngIf="firefighter.gender==='M'; else women"><img class=" img-fluid"
                                                src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                                                alt="card image"></p>
                                        <ng-template #women>
                                            <p><img class=" img-fluid"
                                                    src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                                                    alt="card image"></p>
                                        </ng-template>
                                        <h4 class="card-title">{{firefighter.name}}</h4>
                                        <p class="card-text">{{firefighter.description}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{firefighter.name}}</h4>
                                        <p class="card-text">{{firefighter.details}}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>