<!DOCTYPE html>
<html>
<style>
  input[type=text],
  input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }


  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #800000;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
    width: 80%;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }


  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }

  @media screen and(max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    .cancelbtn {
      width: 100%;
    }
  }
</style>

<body>
  <div>
    <div class="modal-content">
      <div class="imgcontainer">
        <span onclick="document
			.getElementById('id01')
			.style.display='none'" class="close" title="Close Modal">
          &times;</span>
      </div>
      <div class="container">
        <div><label><b>Username: </b></label>
          <input type="text" placeholder="Enter Username" name="username" #username></div><br>
        <label><b>Password: </b></label>
        <input type="password" placeholder="Enter Password" name="password" #password>
        <button (click)="logIn(username.value,password.value)">Login</button>
        <input type="checkbox" checked="checked">Remember me
      </div>
    </div>
  </div>
  <div [class.loading]="loading$ | async" *ngIf="!(error$ | async)">
    <div *ngIf="professor | async">
      <label>Ulogovani ste</label>
    </div>
  </div>
</body>

</html>