<div>
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">UCENICI</h5>
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let student of Students">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p *ngIf="student.gender==='M'; else women"><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                                            alt="card image"></p>
                                    <ng-template #women>
                                        <p><img class=" img-fluid"
                                                src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                                                alt="card image"></p>
                                    </ng-template>
                                    <h4 class="card-title">{{student.name}} {{student.surname}}</h4>
                                    <p class="card-text">{{student.description}}</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <div *ngFor="let professor of Professors">
                                        <div *ngIf="professor.loggedIn===true">
                                            <h4 class="card-title">{{student.name}}</h4>
                                            <p class="card-text">Fizicka aktivnost:
                                                {{student.physicalReadiness}}</p>
                                            <p class="card-text">Ponasanje: {{student.behavior}}</p>
                                            <p class="card-text">Odgovornost: {{student.responsibility}}</p>
                                            <p class="card-text">Znanje: {{student.knowledge}}</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <button (click)="ChangeStudent(student)">Promeni</button>
                                                </li>
                                                <li class="list-inline-item">
                                                    <button (click)="DeleteStudent(student.id)">Izbrisi</button>
                                                </li>
                                                <li class="list-inline-item">
                                                    <button (click)="improveStudent(student)">Unapredi</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="card-title">{{student.name}}</h4>
                                        <p class="card-text">{{student.details}}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div *ngFor="let professor of Professors">
        <div *ngIf="professor.loggedIn===true">
            <button class="btn btn-primary btn-sm" (click)="IWantToAdd()">DODAJ STUDENTA</button>
        </div>
    </div>
    <div *ngIf="addButton===true || editButton===true">
        <div className="newDiv" ng-controller="MainController">
            <label for="fname">Ime: {{StudentWhoIsAdded.name}}</label>
            <input type="text" #name placeholder="Unesite ime.." [value]="StudentWhoIsAdded.name">

            <label for="lname">Prezime: </label>
            <input type="text" #surname placeholder="Unesite prezime.." [value]="StudentWhoIsAdded.surname">

            <label for="lname">Godina rodjenja: </label>
            <input type="text" #yearOfBirthday placeholder="Unesite godinu rodjenja.."
                [value]="StudentWhoIsAdded.yearOfBirthday">

            <label for="lname">Pol: </label>
            <br>
            <label>Muski pol: </label>
            <input type="radio" #gender value="M" name="gender" checked>
            <br>

            <label>Zenski pol: </label>
            <input type="radio" #gender value="Z" name="gender">
            <br>

            <label for="lname">Opis: </label>
            <input type="text" #description placeholder="Unesite Opis.." [value]="StudentWhoIsAdded.description">

            <label for="lname">Detaljniji opis: </label>
            <input type="text" #details placeholder="Unesite detaljniji opis.." [value]="StudentWhoIsAdded.details">

            <label for="lname">Fizicka aktivnost: </label>
            <input type="number" #physicalReadiness placeholder="Unesite fizicku spremnost.."
                [value]="StudentWhoIsAdded.physicalReadiness">

            <label for="lname">Ponasanje: </label>
            <input type="number" #behavior placeholder="Unesite ocenu za ponasanje.."
                [value]="StudentWhoIsAdded.behavior">
            <br>
            <label for="lname">Odgovornost: </label>
            <input type="number" #responsibility placeholder="Unesite ocenu za odgovornost.."
                [value]="StudentWhoIsAdded.responsibility">

            <label for="lname">Znanje: </label>
            <input type="number" #knowledge placeholder="Unesite ocenu za znanje.."
                [value]="StudentWhoIsAdded.knowledge">

            <div *ngIf="addButton===true; else edit">
                <button class="newButton"
                    (click)="AddStudent(name.value,surname.value,
                                yearOfBirthday.value,gender.value,description.value,details.value,
                                physicalReadiness.value,behavior.value,responsibility.value,knowledge.value)">Dodaj</button>
            </div>
            <ng-template #edit>
                <button class="newButton" (click)="EditStudent(name.value,surname.value,
                        yearOfBirthday.value,gender.value,description.value,details.value,
                        physicalReadiness.value,behavior.value,responsibility.value,knowledge.value)">Promeni</button>
            </ng-template>
        </div>
    </div>
</div>