<div *ngFor="let professor of Professors">
    <div class="container">
        <div class="span3 well">
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"
                *ngIf="professor.gender==='M'; else women"><img
                    src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                    name="aboutme" width="140" height="140" class="img-circle"></a>
            <ng-template #women>
                <a href="#aboutModal" data-toggle="modal" data-target="#myModal"
                    *ngIf="professor.gender==='M'; else women"><img
                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" name="aboutme"
                        width="140" height="140" class="img-circle"></a>
            </ng-template>
            <h3>{{professor.name}} {{professor.surname}}</h3>
            <em>Click my face for more</em>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">Vise o {{professor.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"
                            *ngIf="professor.gender==='M'; else women"><img
                                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                                name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        <ng-template #women>
                            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img
                                    src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                    name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                        </ng-template>
                        <h3 class="media-heading">{{professor.name}}
                            {{professor.surname}}<small>{{professor.country}}</small></h3>
                        <span><strong>Vestine: </strong></span>
                        <span class="label label-danger">{{professor.skills[0]}}</span>
                        <span class="label label-info">{{professor.skills[1]}}</span>
                        <span class="label label-info">{{professor.skills[2]}}</span>
                        <span class="label label-success">{{professor.skills[3]}}</span>
                        <br>
                        <span><strong>Godine radnog staza: {{professor.yearOfWork}}</strong></span>
                        <hr>
                        <p class="text-left"><strong>Bio: </strong><br>
                            {{professor.bio}}</p>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Dovoljno sam cuo o
                            {{professor.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div>PROFESORI</div>
<ul>
    <li *ngFor="let prof of professorsForEntity">
      <span >{{prof.id}}</span> {{prof.name}}
      <button title="delete hero"
      (click)="delete(prof.id)">x</button>
    </li>
  </ul>-->