#glavniDiv{
    width:100%;
    height:100%;
    background-color:white;
    display: flex;
    flex-direction: row;
}

#leviDiv{    
    width: 50%;
    height:700px;
    background-color:white;
}

#divZaVreme{
    width: 100%;
    height: 30px;
    text-align: center;
}

#vertikala{
    width: 1px;
    height: 700px;
    background-color: black;
}

#desniDiv{
    display: flex;
    width: 50%;
    height: 700px;
    background-color:white;
    flex-direction: column;
}

#brojevi {
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color:white;
    padding: 2px;
    border: 3px dotted #e9e9e9;
}

.broj {
    background-color: rgb(43, 166, 223);
    width: 35px;
    border: 1px solid black;
    height: 35px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 50%;
}

#krugovi {
    height: 500px;
    background-color:white;
    flex-direction: column;
}

.krug{
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color:white;
    padding: 2px;
}

.krug1,.krug2,.krug3,.krug4,.brojZaKombinaciju{
    border: 2px solid black;
    width: 95px;
    height: 95px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
    border-radius: 50%;
}


#divZaInformacije{
    height: 400px;
    background-color:#e9e9e9;
}
#uplatiVise{
    height: 200px;
    background-color:white;
    border: 3px dotted #e9e9e9;
    font-style: italic;
    font-weight: bold;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}